body{
  margin: 0;
  text-align: center;
}

.a{
  background-color: pink;
  width: 100%;
  line-height: 7;
}

.b{
  background-color: lightcyan;
  width: 33%;
  line-height: 7;
}

.c{
  background-color: lightgoldenrodyellow;
  width: 34%;
  line-height: 7;
}

.d{
background-color: lightgreen;
width: 33%;
line-height: 7;
}

.e{
  background-color: lightseagreen;
  width: 33%;
  line-height: 7;
}

.f{
  background-color: rgb(226, 195, 227);
  width: 34%;
  line-height: 7;
}

.g{
  background-color: lightcoral;
  width: 33%;
  line-height: 7;
}

.h{
  background-color: lavenderblush;
  width: 100%;
  line-height: 21.5;
}


.container-row1 {
  display: flex;
  flex-direction: row;
}

.container-row2 {
  display: flex;
  flex-direction: row;
}

@media (min-width: 600px){
  .container{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
  }

  .container-row1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container-row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-;
  }
  .container-row3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-end;
    width: 25%;
  }

  .a{
    line-height: 20;
  }

  .b , .c , .d , .e , .f , .g{
    width: 25%;
    line-height: 11.28;
  }

  .h{
    line-height: 22.5;
    position: relative;
    bottom: 360px;

  }

}